﻿.colorGreen {
    background-color: green;
}

.colorYellow {
    background-color: yellow;
}

.colorRed {
    background-color: red;
}

.text-danger {
    color: red;
}

.prodavnicaOdece1 {
    float: left;
    width: 75px;
    margin-right: 6px;
    text-align: right;
}

.prodavnicaOdece2 {
    margin-bottom: 5px;
}

.prodavnicaOdece3 {
    margin-left: 100px;
}
