﻿@model Modul2Test_Vladimir_Asic.ViewModels.ArtiklKategorijeArtiklaViewModels
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <meta charset="utf-8" />                                            @* ### Ja sam dodao ### *@
    <link href="~/Content/ProdavnicaOdece.css" rel="stylesheet" />      @* ### Ja sam dodao ### *@
    <script src="~/Scripts/jquery-1.10.2.js"></script>                  @* ### Ja sam dodao ### *@
    <script src="~/Scripts/ProdavnicaOdeceScript.js"></script>          @* ### Ja sam dodao ### *@
</head>
<body>
    <div>
        @using (Html.BeginForm("Edit", "Artikl", FormMethod.Post, new { id = "forma1" }))
    {
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.ValidationSummary()
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 prodavnicaOdece2">
                    @Html.HiddenFor(m => m.Artikl.Id, new { @class = "prodavnicaOdece1" })
                    @Html.ValidationMessageFor(m => m.Artikl.Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 prodavnicaOdece2">
                    @Html.LabelFor(m => m.Artikl.Akcija, new { @class = "prodavnicaOdece1" })
                    @Html.EditorFor(m => m.Artikl.Akcija)
                    @Html.ValidationMessageFor(m => m.Artikl.Akcija, "", new { @class = "text-danger" })
                    @*<span id="PivoNazivSpan"></span>*@
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 prodavnicaOdece2">
                    @Html.LabelFor(m => m.Artikl.Naziv, new { @class = "prodavnicaOdece1" })
                    @Html.EditorFor(m => m.Artikl.Naziv)
                    @Html.ValidationMessageFor(m => m.Artikl.Naziv, "", new { @class = "text-danger", id = "naziv1" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 prodavnicaOdece2">
                    @Html.LabelFor(m => m.Artikl.Cena, new { @class = "prodavnicaOdece1" })
                    @Html.EditorFor(m => m.Artikl.Cena)
                    @Html.ValidationMessageFor(m => m.Artikl.Cena, "", new { @class = "text-danger", id = "cena1" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 prodavnicaOdece2">
                    @Html.LabelFor(m => m.Artikl.Marka, new { @class = "prodavnicaOdece1" })
                    @Html.EditorFor(m => m.Artikl.Marka)
                    @Html.ValidationMessageFor(m => m.Artikl.Marka, "", new { @class = "text-danger", id = "marka1" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 prodavnicaOdece2">
                    @Html.LabelFor(m => m.Artikl.Opis, new { @class = "prodavnicaOdece1" })
                    @Html.EditorFor(m => m.Artikl.Opis)
                    @Html.ValidationMessageFor(m => m.Artikl.Opis, "", new { @class = "text-danger", id = "opis1" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 prodavnicaOdece2">
                    @Html.LabelFor(m => m.Artikl.Tip, new { @class = "prodavnicaOdece1" })
                    @Html.EnumDropDownListFor(m => m.Artikl.Tip, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 prodavnicaOdece2">
                    @Html.LabelFor(m => m.KategorijeArtikla.FirstOrDefault().Naziv, new { @class = "prodavnicaOdece1" })
                    @Html.DropDownListFor(m => m.selectedKategorijaArtiklaId,
                    new SelectList(Model.KategorijeArtikla, "Id", "Naziv"))
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 prodavnicaOdece2">
                    <input type="submit" value="Submit" class="btn btn-default prodavnicaOdece3" />
                </div>
            </div>
        </div>
}
    </div>
</body>
</html>
